/*--------------------------------------------------------------
# Start Buttons
--------------------------------------------------------------*/

.btn-form {
    border: none;
    outline: none !important;
    box-shadow: none !important;
    min-width: 120px;
    min-height: 45px;
    background: linear-gradient(256deg, #29B4E3, #00678A, #29B4E3, #00678A);
    border-radius: 5px;
    color: #fff;
    position: relative;
    font-family: 'neoMed';
    background-size: 300% 100%;
    &.close {
        background: linear-gradient(256deg, #E2243E, #942130, #E2243E, #942130);
        background-size: 300% 100%;
    }
}

.btn-form:hover,
.btn-form:focus {
    background-position: 100% 0;
    color: #fff;
}

.main-btn {
    padding: 8px 20px;
    color: #fff;
    transition: .3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-family: "neoMed";
    gap: 0 5px;
    &.main {
        background: $mainColor;
        font-family: "neoMed";
        &:hover {
            background: $secColor !important;
            color: #fff !important;
        }
    }
    &.sec {
        background: $secColor;
        &:hover {
            background: $mainColor;
            color: #fff;
        }
    }
    &.trans {
        background: #fff;
        border: 1px solid $mainColor;
        color: $mainColor;
        &:hover {
            background: $mainColor;
            color: #fff;
        }
    }
}


/*--------------------------------------------------------------
# End Buttons
--------------------------------------------------------------*/